node_modules
dist
Dockerfile
notes.org
notes.org~
.tmp
.env.example
.gitignore
.editorconfig
.cache
node_modules/
.cache/
anima/
public/
public-auto/
public-container/
snippets/
src/stories/
wip/
\.lighthouseci/

**/*.stories.*
